<main class="contenedor">
    <form action="/crear-cuenta" method="POST" class="default-form">
        <div class="campo">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" placeholder="Tu nombre">
        </div>
        <div class="campo">
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email" placeholder="Tu email">
        </div>
        <div class="campo">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Tu password">
        </div>
        <div class="campo">
            <label for="repite-password">Repite Password</label>
            <input type="password" name="confirmar" id="confirmar" placeholder="Repite tu password">
        </div>
        <div class="campo acciones">
            <a href="/iniciar-session">Volver a iniciar Sesión</a>
        </div>
        <div class="campo">
            <input type="submit" value="Crear Cuenta" class="btn btn-azul">
        </div>
    </form>
</main>